*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html >body{
    font-family: 'Jost', sans-serif; 
    margin: 0;
}
:root{
    --main-color: #00a63f;
    --text-color:#666;
}
/* main */
.w1k2px{
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    margin-bottom: 25px;
}
.title h4{
    color: #7e7d7d;
    font-weight: 600;
    font-size: 14px;
}
.title h1{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}
/* main */
/* solution */
.solution{
    padding: 50px 0;
    background-color: #fff;
}
.solution img{
    width: 100%;
    border-radius: 10px;
}
.solution__figure--item + .solution__figure--item{
    margin-top: 35px;
}
.solution__figure--text{
    display: flex;
    width: var(--percent);
    justify-content: space-between;
    font-size: 18px;
    color: #3f3a64;
    font-weight: 400;
    align-items: center;
    margin-bottom: 10px;
}
.solution__figure--text h6{
    margin: 0;
    font-size: 20px;
    line-height: 18px;
    font-weight: 400;
}
.solution__figure--text p{
    margin: 0;
    line-height: 18px;
}
.solution__figure--decr{
    width: 100%;
    height: 4px;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.solution__solieu{
    position: relative;
    width: var(--percent);
    height: 100%;
    z-index: 1;
}
.number1{
    background-image:linear-gradient(-224deg, #0d8abc, #e4fffc)
}
.number2{
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}
.number3{
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}
.number4{
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}
.number1::before{
    content: "";
    position: absolute;
    top: -5px;
    right: -7px;
    padding: 3px;
    background-color: #fff;
    border: solid 3px #61fded;
    border-radius: 50%;

}
.number1::after{
    content: "";
    position: absolute;
    top: -12px;
    right: -14px;
    padding: 12px;
    background-color: transparent;
    border: solid 1px #e4fffc;
    border-radius: 50%;
}
.number2::before{
    content: "";
    position: absolute;
    top: -5px;
    right: -7px;
    padding: 3px;
    background-color: #fff;
    border: solid 3px #eece90;
    border-radius: 50%;
}
.number2::after{
    content: "";
    position: absolute;
    top: -12px;
    right: -14px;
    padding: 12px;
    background-color: transparent;
    border: solid 1px #eece90;
    border-radius: 50%;
}
.number3::before{
    content: "";
    position: absolute;
    top: -5px;
    right: -7px;
    padding: 3px;
    background-color: #fff;
    border: solid 3px #5c51ff;
    border-radius: 50%;
}
.number3::after{
    content: "";
    position: absolute;
    top: -12px;
    right: -14px;
    padding: 12px;
    background-color: transparent;
    border: solid 1px #6051fd;
    border-radius: 50%;
}
.number4::before{
    content: "";
    position: absolute;
    top: -5px;
    right: -7px;
    padding: 3px;
    background-color: #fff;
    border: solid 3px #e5529a;
    border-radius: 50%;
}
.number4::after{
    content: "";
    position: absolute;
    top: -12px;
    right: -14px;
    padding: 12px;
    background-color: transparent;
    border: solid 1px #e5529a;
    border-radius: 50%;
    z-index: -1;
}
@media screen and (max-width:992px){
    .solution {
        width: 80%;
        margin: 0 auto;
    }
    .title h1{
        font-size: 25px;
    }
    .solution__img{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:1100px) and (min-width:993px) {
    .title h1{
        font-size: 30px;
    }
}
@media screen and (max-width:576px) {
    .solution{
        width: 100%;
    }
}
/* solution */
/* feedback */
.feedback{
    padding: 80px 0 50px;
    background-color: #f8f9fa;
}

.title__feedback{
    text-align: center;
}
.feedback__items>p{
    text-align: center;
    display: flex;
    width: 80%;
    /* padding: 0 100px; */
    margin: 20px auto 0;
    font-size: 18px;
    color: var(--text-color);
    opacity: .7;
    font-weight: 400;
    padding: 30px 0;
    
}

.feedback__infor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.feedback__img{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}
.feedback__img img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    
}
.feedback__name{
    padding-left: 20px;
}

.feedback__name h4{
    margin: 0;
    font-size: 20px;
    color: #3f3a64;
    font-weight: 600;
    
}
.feedback__name p{
    margin: 0;
    color: var(--text-color);
    font-size: 17px;

}
.slick-dots li button:before{
    font-size: 12px;
    transition: all ease-in .2s;
}
.slick-dots li button:hover:before{
    font-size: 18px;
    color: #213364;
    opacity: 1;
}

.slick-dots li.slick-active button:before{
    font-size: 18px;
    color: #213364;
    opacity: 1;
}

/* feedback */
/* footer */
footer{
    background-color: #151421;
}
.footer__first{
    background-image: url(/img/map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 96px 0;

}
.footer__title{
    text-align: center;
    padding-bottom: 50px;
}
.footer__title h1{
    color: #fff;
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 10px;
}
.footer__title p{
    color: #eee;
    opacity: .8;
    font-size: 17px;
    line-height: 27px;
    width: 47%;
    text-align: center;
    margin: 0 auto;
    min-width: 460px;
}

.footer__form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    /* overflow: hidden; */

}
.footer__form i{
    color: #999;
    font-size: 25px;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-right: none;
    line-height: 52px;
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px;
}
.footer__form input{
    color: #999;
    font-size: 16px;
    padding: 14px 20px;
    background-color: transparent;
    flex: 1;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-right: none;
    outline: none;
}

.footer__form button{
    height: 54px;
    padding: 0 25px;
    border: #00a63f;
    background-color: #00a63f;
    color: #fff;
    font-weight: 600;
    border-top-right-radius:8px ;
    border-bottom-right-radius: 8px;
    transition: all ease-in .2s;
}
.footer__form button:hover{
    background-color: #008030;
}
/* footer first end */
.footer__second{
    padding: 72px;
    border: solid 1px #2d2c38;
    border-left: none;
    border-right: none;
}
.footer__brand{
    display: flex;
    text-decoration: none !important;
}

.brand i{
    color: #00a63f;
    font-size: 26px;
    padding-right: 14px;
    padding-top: 1px;
}

.footer__brand--text{
    color: #fff;

}
.footer__brand--text h1{
    line-height: 30px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
}
.footer__brand--text p{
    font-size: 14px;
    font-weight: 600;
    opacity: .9;
}

.footer__second--item >p{
    color: #97a1a9;
    font-size: 18px;
    opacity: .8;
    
}

.footer__contact--item{
    text-decoration: none !important;
    color: #97a1a9;
    opacity: .8;
}
.footer__contact--item + .footer__contact--item{
    padding-left: 12px;
}
.footer__hover{
    transition: all ease-in .2s;
}
.footer__hover:hover{
    color: #fff;
    cursor: pointer;
    /* font-weight: 600; */
}

.footer__second--item h4{
    font-size: 22px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 15px;
}

.footer__second--item.nomargin p{
    margin-bottom: 8px;
}

/* end footer second */
.footer__last{
    text-align: center;
    color: #7f8a94;
    opacity: 1;
    font-size: 17px;
    padding: 24px 0;
}
.footer__last span{
    color: #008030;
}
@media screen and (max-width:768px) {
    .footer__first{
        padding: 50px 0;
    }
    .footer__last{
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (max-width:991px) {
     .footer__second--item.col-lg-2{
         margin-top: 50px;
     }
}
@media screen and (max-width:767px) {
    .footer__second--item.col-xs-12.nomargin{
        margin-top: 50px;
    }
}
@media screen and (max-width:575px) {
    .footer__second{
        padding: 30px 0;
    }
}
/* footer */
